In [1]:
import pandas as pd
from sklearn.datasets import make_regression

In [3]:
# Generate features, outputs, and true coefficient of 100 samples.
features, output, coef = make_regression(n_samples = 100,
                                         # three features
                                         n_features = 3,
                                         # where only two features are useful
                                         n_informative = 2,
                                         # a single target value per observation
                                         n_targets = 1,
                                         # 0.0 standard deviation of the guassian noise
                                         noise = 0.0,
                                         # show the true coefficient used to generated the data
                                         coef = True)

In [4]:
# View the features of the first five rows
pd.DataFrame(features, columns=['Store 1', 'Store 2', 'Store 3']).head()

    Store 1   Store 2   Store 3
0  0.240346 -1.089617  0.804259
1  1.318256  0.337161 -0.263747
2  0.609377 -0.535732  0.087132
3  0.570171  0.413150  0.417645
4 -0.976927 -0.755892 -0.648398

In [5]:
# View the output of the first five rows
pd.DataFrame(output, columns=['Sales']).head()

        Sales
0    2.855854
1  120.378873
2   44.175732
3   56.499945
4  -97.602795

In [6]:
# View the actual, true coefficients used to generate the data
pd.DataFrame(coef, columns=['True Coefficient Values'])

   True Coefficient Values
0                87.074727
1                16.585872
2                 0.000000